
    /* Cascating Stylesheet*/
    h1, {
      font-size: 2.5rem;
      color: aliceblue;
    }
    p{
      color: aliceblue;
    }

    html,
    body {
      height: 100%;
    }

    body {
      display: grid;
      place-items: center;

      background-image: url(./NLWHEAT\ -\ 1920x1080.png);
    }

    a {
      color: lightgray;
      text-decoration: none;
    }
