
    /* Cascating Stylesheet*/
    h1, {
      font-size: 1.5rem;
      color: aliceblue;
    }
    p{
      color: aliceblue;
    }

    html,
    body {
      height: 100%;
    }

    body {
      display: grid;
      place-items: center;

    }
    .container{
      max-width: 250px;
      margin: ;
    }

    .perfil{
      width: 150px;
      
    }
    main{
      background: url(./NLWHEAT\ -\ 1920x1080.png);
      width: 375px;
      height: 812px;
    }

    a {
      color: lightgray;
      text-decoration: none;
    }
